model/src/main/resources/contract/SubscriptionModuleService.wsdl

<definitions name="SubscriptionModule"
             targetNamespace="module.subscription.wsdl.fisheries.ec.europa.eu"
             xmlns:v="module.subscription.wsdl.fisheries.ec.europa.eu"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="module.subscription.wsdl.fisheries.ec.europa.eu">

            <xsd:complexType name="SubscriptionRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="v:SubscriptionMethod"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="SubscriptionMethod">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="SUBSCRIPTION_DATA"/>
                    <xsd:enumeration value="PING"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:element name="SubscriptionDataRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="v:SubscriptionRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="v:SubscriptionDataQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SubscriptionDataResponse">
                <xsd:complexType>
                    <xsd:sequence>

                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="SubscriptionDataQuery">
                <xsd:sequence>
                    <xsd:element name="criteria" type="v:SubscriptionDataCriteria" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SubscriptionDataCriteria">
                <xsd:sequence>
                    <xsd:element name="dataType" type="v:DataType" default="UNKNOWN"/>
                    <xsd:element name="criteria" type="v:CriteriaType" default="UNKNOWN"/>
                    <xsd:element name="subCriteria" type="v:SubCriteriaType" default="UNKNOWN"/>
                    <xsd:element name="valueType" type="v:ValueType" default="UNKNOWN"/>
                    <xsd:element name="value" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SubscriptionModuleResponse">
                <xsd:sequence>

                </xsd:sequence>
            </xsd:complexType>

            <!-- Ping request -->

            <xsd:element name="pingRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="v:SubscriptionRequest"/>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SubscriptionFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="code" type="xsd:int" />
                        <xsd:element name="fault" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:simpleType name="DataType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="VESSEL_POSITION"/>
                    <xsd:enumeration value="SALES_NOTE"/>
                    <xsd:enumeration value="FISHING_ACTIVITY"/>
                    <xsd:enumeration value="UNKNOWN"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CriteriaType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="SENDER"/>
                    <xsd:enumeration value="FLUXFAReportMessage"/>
                    <xsd:enumeration value="FLUXReportDocument"/>
                    <xsd:enumeration value="UNKNOWN"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="SubCriteriaType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ORGANISATION"/>
                    <xsd:enumeration value="ENDPOINT"/>
                    <xsd:enumeration value="CHANNEL"/>
                    <xsd:enumeration value="PLUGIN"/>
                    <xsd:enumeration value="UNKNOWN"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ValueType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="FLUX_GP_PARTY"/>
                    <xsd:enumeration value="FLUX_FA_REPORT_TYPE"/>
                    <xsd:enumeration value="FLUX_GP_PURPOSE"/>
                    <xsd:enumeration value="YYYY-MM-DD"/>
                    <xsd:enumeration value="YYYY-MM-DDTHH:mm:ss"/>
                    <xsd:enumeration value="UNKNOWN"/>
                </xsd:restriction>
            </xsd:simpleType>

        </xsd:schema>
    </types>
    
    <message name="SubscriptionFaultException">
        <part name="body" element="v:SubscriptionFault"/>
    </message>

    <message name="SubscriptionDataRequest">
        <part name="body" element="v:SubscriptionDataRequest"/>
    </message>

    <message name="SubscriptionDataResponse">
        <part name="body" element="v:SubscriptionDataResponse"/>
    </message>

    <message name="PingRequest">
        <part name="body" element="v:pingRequest"/>
    </message>

    <message name="PingResponse">
        <part name="body" element="v:pingResponse"/>
    </message>

    <portType name="SubscriptionPortType">
        <operation name="Subscription">
            <input message="v:SubscriptionDataRequest"/>
            <output message="v:SubscriptionDataResponse"/>
            <fault name="SubscriptionFaultException" message="v:SubscriptionFaultException"/>
        </operation>
        <operation name="Ping">
            <input message="v:PingRequest"/>
            <output message="v:PingResponse"/>
        </operation>
    </portType>

    <binding name="SubscriptionSoapBinding" type="v:SubscriptionPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Subscription">
            <!-- <soap:operation soapAction="http://www.snowboard-info.com/EndorsementSearch"/> -->
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SubscriptionFaultException">
                <soap:fault name="SubscriptionFaultException" use="literal"/>
            </fault>
        </operation>
        <operation name="Ping">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="SubscriptionService">
        <port name="SubscriptionPortType" binding="v:SubscriptionSoapBinding">
            <soap:address location="http://REPLACE_ME"/>
        </port>
    </service>

</definitions>