model/src/main/resources/contract/SubscriptionModuleService.wsdl

<definitions name="SubscriptionModule"
             targetNamespace="module.subscription.wsdl.fisheries.ec.europa.eu"
             xmlns:v="module.subscription.wsdl.fisheries.ec.europa.eu"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="module.subscription.wsdl.fisheries.ec.europa.eu">

            <xsd:complexType name="SubscriptionRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="v:SubscriptionMethod"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="SubscriptionMethod">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="SUBSCRIPTION_DATA"/>
                    <xsd:enumeration value="PING"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:element name="SubscriptionDataRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="v:SubscriptionRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="v:SubscriptionDataQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SubscriptionDataResponse">
                <xsd:complexType>
                    <xsd:sequence>

                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="SubscriptionDataQuery">
                <xsd:sequence>
                    <xsd:element name="messageType" type="v:MessageType"/>
                    <xsd:element name="criteria" type="v:SubscriptionDataCriteria" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SubscriptionDataCriteria">
                <xsd:sequence>
                    <xsd:element name="criteria" type="v:CriteriaType" default="UNKNOWN"/>
                    <xsd:element name="subCriteria" type="v:SubCriteriaType" default="UNKNOWN"/>
                    <xsd:element name="valueType" type="v:ValueType" default="UNKNOWN"/>
                    <xsd:element name="value" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SubscriptionModuleResponse">
                <xsd:sequence>

                </xsd:sequence>
            </xsd:complexType>

            <!-- Ping request -->

            <xsd:element name="pingRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="v:SubscriptionRequest"/>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SubscriptionFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="code" type="xsd:int" />
                        <xsd:element name="fault" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:simpleType name="MessageType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="FLUXVesselPositionMessage"/>
                    <xsd:enumeration value="FLUXSalesQueryMessage"/>
                    <xsd:enumeration value="FLUXSalesMessage"/>
                    <xsd:enumeration value="FLUXFaQueryMessage"/>
                    <xsd:enumeration value="FLUXFaReportMessage"/>
                    <xsd:enumeration value="UNKNOWN"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CriteriaType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Sender"/>
                    <xsd:enumeration value="Vessel"/>
                    <xsd:enumeration value="Area"/>
                    <xsd:enumeration value="ValidityPeriod"/>
                    <xsd:enumeration value="FluxFAReportMessage"/>
                    <xsd:enumeration value="FluxFAQueryMessage"/>
                    <xsd:enumeration value="UNKNOWN"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="SubCriteriaType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="StartDateTime"/>
                    <xsd:enumeration value="EndDateTime"/>
                    <xsd:enumeration value="ORGANISATION"/>
                    <xsd:enumeration value="OwnerParty"/>
                    <xsd:enumeration value="EndPoint"/>
                    <xsd:enumeration value="Channel"/>
                    <xsd:enumeration value="FAReportDocument"/>
                    <xsd:enumeration value="AREA_CODE"/>
                    <xsd:enumeration value="AREA_TYPE"/>
                    <xsd:enumeration value="VESSELID"/>
                    <xsd:enumeration value="TRIPID"/>
                    <xsd:enumeration value="CONSOLIDATED"/>
                    <xsd:enumeration value="UNKNOWN"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ValueType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="SchemeId"/>
                    <xsd:enumeration value="ListId"/>
                    <xsd:enumeration value="BOOLEAN_VALUE"/>
                    <xsd:enumeration value="FLUX_GP_PARTY"/>
                    <xsd:enumeration value="CFR"/>
                    <xsd:enumeration value="IRCS"/>
                    <xsd:enumeration value="EU_TRIP_ID"/>
                    <xsd:enumeration value="ICCAT"/>
                    <xsd:enumeration value="FLUX_FA_REPORT_TYPE"/>
                    <xsd:enumeration value="FLUX_GP_PURPOSE"/>
                    <xsd:enumeration value="YYYY-MM-DD"/>
                    <xsd:enumeration value="yyyy-MM-dd'T'HH:mm:ss.SSSZ"/>
                    <xsd:enumeration value="UNKNOWN"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="AreaType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="FMZ" />
                    <xsd:enumeration value="EEZ" />
                    <xsd:enumeration value="FAO" />
                    <xsd:enumeration value="GFCM" />
                    <xsd:enumeration value="COUNTRY" />
                    <xsd:enumeration value="RFMO" />
                    <xsd:enumeration value="STATRECT" />
                    <xsd:enumeration value="USERAREA" />
                    <xsd:enumeration value="PORT" />
                    <xsd:enumeration value="PORTAREA" />
                    <xsd:enumeration value="UNKNOWN" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="AreaValueType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AREA_CODE" />
                    <xsd:enumeration value="AREA_NAME" />
                    <xsd:enumeration value="AREA_GUID" />
                    <xsd:enumeration value="AREA_ID" />
                    <xsd:enumeration value="UNKNOWN" />
                </xsd:restriction>
            </xsd:simpleType>

        </xsd:schema>
    </types>
    
    <message name="SubscriptionFaultException">
        <part name="body" element="v:SubscriptionFault"/>
    </message>

    <message name="SubscriptionDataRequest">
        <part name="body" element="v:SubscriptionDataRequest"/>
    </message>

    <message name="SubscriptionDataResponse">
        <part name="body" element="v:SubscriptionDataResponse"/>
    </message>

    <message name="PingRequest">
        <part name="body" element="v:pingRequest"/>
    </message>

    <message name="PingResponse">
        <part name="body" element="v:pingResponse"/>
    </message>

    <portType name="SubscriptionPortType">
        <operation name="Subscription">
            <input message="v:SubscriptionDataRequest"/>
            <output message="v:SubscriptionDataResponse"/>
            <fault name="SubscriptionFaultException" message="v:SubscriptionFaultException"/>
        </operation>
        <operation name="Ping">
            <input message="v:PingRequest"/>
            <output message="v:PingResponse"/>
        </operation>
    </portType>

    <binding name="SubscriptionSoapBinding" type="v:SubscriptionPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Subscription">
            <!-- <soap:operation soapAction="http://www.snowboard-info.com/EndorsementSearch"/> -->
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SubscriptionFaultException">
                <soap:fault name="SubscriptionFaultException" use="literal"/>
            </fault>
        </operation>
        <operation name="Ping">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="SubscriptionService">
        <port name="SubscriptionPortType" binding="v:SubscriptionSoapBinding">
            <soap:address location="http://REPLACE_ME"/>
        </port>
    </service>

</definitions>